main {
	margin: 1rem;
	text-align: center;
}

main h1 {
	color: #ce253d;
}

form {
	background-color: #ebebeb;
	font-size: 14pt;
	padding: 1rem;
	margin: 1rem;
}

form input {
	height: 40px;
	width: 100%;
	margin-top: 0.5rem;
}

.data div, .newUser div {
	margin: 1rem;
}

.data {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	width: 50%;
	margin-left: auto;
	margin-right: auto;	
}

.registr a {
	color: #ce253d;
}

.newUser {
	display: flex;
	justify-content: center;
}

main button {
	vertical-align: middle;
	padding: 14px 19px 12px;
	font-family: "Noto Sans", sans-serif;
	font-size: 16px;
	line-height: 1;
	letter-spacing: .1em;
	text-transform: uppercase;
	color: #fff;
	background-color: #ce253d;
	border: none;
	border-radius: 50px;
	transition: color .5s cubic-bezier(.785,.135,.15,.86), border .5s cubic-bezier(.785,.135,.15,.86), background .5s cubic-bezier(.785,.135,.15,.86), opacity .5s cubic-bezier(.785,.135,.15,.86);
	cursor: pointer;	
}
